@charset "utf-8";

/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
#gnav{
	color:#fff;
	text-align: center;
	margin-bottom: 32px;
	position: relative;
	z-index: 999;
}
/*ナビゲーションを横並びに*/
#gnav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
/*2階層目以降は横並びにしない*/
#gnav ul ul{
	display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
#gnav ul li{
	position: relative;
}

/*ナビゲーションのリンク設定*/
#gnav ul li a{
	display: block;
	text-decoration: none;
	padding:10.5px 50px;
	transition:all .3s;
	color: #fff;
    font-weight: bold;
}

#gnav ul li li a{
	padding:10px 35px;
}

#gnav ul li a:hover{
	background-color:#FCC800;
	text-decoration: underline;	
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
#gnav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:30px;
	width:6px;
	height:6px;
	border-top: 3px solid #999;
    border-right:3px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
#gnav ul ul li.has-child::before{
	content:'';
	position: absolute;
	left:6px;
	top:17px;
	width:6px;
	height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
#gnav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	top:70px;
	z-index: 4;
    /*形状を指定*/
	background:#28BFE7;
	width:350px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
}

/*hoverしたら表示*/
#gnav li.has-child:hover > ul,
#gnav li.has-child ul li:hover > ul,
#gnav li.has-child:active > ul,
#gnav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
#gnav li.has-child ul li a{
	color: #fff;
	border-bottom:solid 1px rgba(255,255,255,0.6);
}

#gnav li.has-child ul li:last-child a{
	border-bottom:none;
}

#gnav li.has-child ul li a:hover,
#gnav li.has-child ul li a:active{
	background:#FCC800;
}


/*==3階層目*/

/*3階層目の位置*/
#gnav li.has-child ul ul{
	top:0;
	left:182px;
	background:#66ADF5;
}

#gnav li.has-child ul ul li a:hover,
#gnav li.has-child ul ul li a:active{
	background:#448ED3;
}

@media only screen and (max-width:1260px) {
	#gnav ul li a{
		padding:10.5px 20px;
	}
	#gnav ul li.has-child::before{
		display: none;
	}
	.top-menu-nav {
		padding-left: 70px;
	}
}
/*==768px以下の形状*/

@media only screen and (max-width:900px) {
	.top-menu-nav {
		padding-left: 10px;
	}
}
@media screen and (max-width:768px){
	.top-menu {
		padding: 0;
		justify-content: space-between;
		display: block;
		position: fixed;
		top: 0px;
		z-index: 999;
	}
	.top-menu nav {
		justify-content: space-between;
	}
	.top-menu-nav {
		padding: 0;
		width: 100%;
	}	
	#gnav {
		width: 100%;
		justify-content: center;
	}
	#gnav ul{
		display: table;
	}
	#gnav ul li {
		display: table-cell;
	}
	#gnav ul li a{
		padding:10.5px 27px;
		width: 100%;
	}
	#gnav li.has-child ul,
	#gnav li.has-child ul ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;/*JSで制御するため一旦表示*/
	opacity:1;/*JSで制御するため一旦表示*/
	display: none;/*JSのslidetoggleで表示させるため非表示に*/
	transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
	
#gnav ul li a{
	border-bottom:1px solid #ccc;
}

}