@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.movieshow {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slick-slide video {
    width: 71.111111112vh;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height: 22.5vw;
    top: 50%;
    left: 50%; 
}

.movieshow .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.movieshow .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
h1.title {
    text-align:center;
    padding-top: 20px;
    color: #000;
    font-size: 2rem;
}
@media only screen and (max-width:1260px) {
    h1.title {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}
@media screen and (max-width:768px) {
    h1.title {
        font-size: 1rem;
    }
}